<% if defined?(model) && model && model.errors.any? %>
  <div class="alert alert-danger" role="alert" aria-live="polite">
    <ul class="errormessages">
      <% model.errors.full_messages.uniq.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
