<% flash.to_hash.each do |type, msg| %>
  <% Array(msg).map(&:to_s).reject(&:blank?).uniq.each do |m| %>
    <div class="alert alert-<%= type %>" role="alert"><%= m %></div>
  <% end %>
<% end %>
<% flash.discard %>
