@import "_variables";

.alert {
    font-family: $font-family-base;
    text-align: center;
    padding: 5px 0px;
    background-color: $complementary-color;
    color: #fffefd;
    font-size: 16px;
    letter-spacing: -0.02em;
    height: 22px;
    line-height: 20px;
    outline: none;
    border: none;
    z-index: 20;
}

